* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    height: 100%;
}

@font-face {
    font-family: "certhas";
    src: url("./assets/fonts/Certhas.otf")
}

@font-face {
    font-family: "orgonite";
    src: url("./assets/fonts/stone\ orgonite.woff")
}

@font-face {
    font-family: "avocado";
    src: url("./assets/fonts/avocado.ttf")
}

#greeting {
    font-family: "certhas";
    margin-top: 10vh;
}

hr {
    size:2px;
    width:100%;
    color: aliceblue;
    box-shadow: 0px 4px 4px rgb(255, 255, 255);
}

.icons {
    width:4rem;
    justify-content: space-between;
    margin:3vh;
}

#stack {
    text-align: center;
}

h1 {
    padding-bottom: 7vh;
    font-family: "avocado";
}

h4 {
    font-family: "avocado";
    margin-top: 20vh;
    text-shadow: 0px 4px 4px rgba(159, 159, 159, 0.379);
    text-align: center;
    padding: 5%;
}

#contactinfo {
    margin-bottom: 10vh;
    font-family: "avocado";
    text-shadow: 0px 4px 4px rgba(159, 159, 159, 0.379);
    text-align: center;
    color: rgb(227, 203, 240);
}

.alinks {
    text-decoration: none;
    color: rgb(227, 203, 240);
}

#card {
    margin-bottom: 10vh;
    border-color:rgb(179, 208, 233);
    box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.379);
}

#cardText {
    color:black;
    font-family: "avocado";
}

#cardSubText {
    color: rgb(34, 34, 34);
    font-family: "avocado";
}

#navlinks {
    font-family: "avocado";
    font-size: 1rem;
    color: aliceblue;
}

#links {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(243, 233, 245, 0.379);
}

#experience {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 7vh;
}

#company {
    font-family: "avocado";
    color: rgb(251, 240, 255);
    font-size: 1rem;
}

#positions {
    font-family: "avocado";
    color: rgb(227, 203, 240);
    text-shadow: 0px 4px 4px rgba(233, 154, 255, 0.379);
}

#cardEducation {
    background-image: 
    url("https://w0.peakpx.com/wallpaper/1004/117/HD-wallpaper-technology-texture-blue-technology-background-creative-blue-background-technology-background-blue-neon-background-blue-neon-abstraction.jpg");
    margin-bottom: 10vh;
    border-color:rgb(179, 208, 233);
    box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.379);
}

#educationText {
    color: aliceblue;
    text-shadow: 0px 2px 2px rgb(255, 255, 255);
}

#contactForm {
    margin-top: 25vh;
    background-color: rgb(30, 30, 30);
    width: 50%;
    height: 50vh;
    text-align: center;
    border-radius: 10px;
    border: #8c9496;
    border-style: groove;
}

#formlabel {
    margin-top: 2vh;
}

#comment {
    padding: 20px;
    margin-bottom: 8vh;
}

/*Animation*/
